# INPUT_EXTS="stl,obj" # Must be a comma separated list of file extensions
OVERWRITE="false" # "true" or "false", default: "false"
GEN_STATIC="true" # "true" or "false", default: "true"
GEN_ANIM="false" # "true" or "false", default: "false"
ANIM_FPS="30" # Must be a positive integer ex. "10", "24", etc.
# ANIM_DUR="6" # Must be a positive number, will be rounded to the first digit
